body {
    cursor: crosshair;
    /* background-image: url("https://wallpaperbat.com/img/261891-photographer-picture-hd.jpg"); */
    background-image: url("https://media.wired.com/photos/624396fa9461c8562e44fdb2/master/pass/Stop-Doomscrolling-Gear-1300226705.jpg");
    background-size: cover;
    background-color: aqua;
    background-blend-mode:luminosity
}