body {
    cursor: crosshair;
    /* background-image: url("https://wallpaperbat.com/img/261891-photographer-picture-hd.jpg"); */
    background-image: url("https://media.wired.com/photos/624396fa9461c8562e44fdb2/master/pass/Stop-Doomscrolling-Gear-1300226705.jpg");
    background-size: cover;
    background-color: aqua;
    background-blend-mode:luminosity
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}